html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


@media (max-width: 1199.98px) {
  .weather-card {
    margin-bottom: 5px;
    text-align: center;
  }

  .forecast-card {
    flex: 0 0 30%; 
    margin-bottom: 15px;
  }

  .container{
    min-height: 750px;
     backdropFilter: blur(0px);
  }
}
